.container-header {
  height: 40vh;
  min-height: 120px;
  max-height: 200px;
  background: url(/assets/images/fundo-cabecalho.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85%;
    max-width: 400px;

    .logo-image {
      height: 40%;
      width: auto;
      max-width: 350px;
      margin-bottom: 0.7em;
    }

    .logo-info {
      font-size: 1.1em;
      color: #6bd1ff;
      text-align: justify;
      line-height: 1.4em;
      margin-right: 0.5em;
    }
  }

  .image {
    display: none;
  }
}

@media (min-width: 576px) {
  .container-header {
    .logo {
      .logo-image {
        height: 50%;
        width: auto;
        margin-bottom: 0.7em;
      }

      .logo-info {
        font-size: 1.1em;
      }
    }
  }
}

@media (min-width: 768px) {
  .container-header {
    height: 30vh;
    justify-content: space-between;

    .logo {
      align-items: flex-start;
      justify-content: center;
    }

    .image {
      height: 100%;
      width: auto;
      display: block;
    }
  }
}

@media (min-width: 992px) {
  .container-header {
    padding: 0.4em 3em;
  }
}

@media (min-width: 1200px) {
  .container-header {
    padding: 0.4em 7em;
  }
}
