.add-thinking {
  padding: 1em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

    .title {
      width: 250px;
      font-size: 1.5em;
    }
  }

  form {
    width: 450px;
    background: #c4edff;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1.5em 0.5rem;

    label {
      color: #154580;
      font-weight: bold;
      margin: 0 0 0.3rem;
    }

    .input {
      border: none;
      height: 30px;
      padding: 0.5rem;
      border-radius: 10px;
      margin: 0.5rem 0 1.5rem;
    }

    textarea {
      padding: 0.5em;
      border: none;
      border-radius: 4px;
      margin-bottom: 1.5em;
    }
  }
}

.container-radio {
  margin-top: 1em;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.modelos {
  display: flex;
  gap: 2.5rem;
}

.modelo {
  background-color: #f8f9fe;
  padding: 1rem;
  max-width: 250px;
  margin: 1rem 0 2rem;
}

.modelo .conteudo {
  margin: 1rem auto;
  word-wrap: break-word;
}

.modelo .autoria {
  word-wrap: break-word;
}

.radio {
  margin: 0;
}

.modelo1 {
  box-shadow: 8px 8px 0px #154580;
}

.modelo2 {
  box-shadow: 8px 8px 0px #6bd1ff;
}

.modelo3 {
  box-shadow: 8px 8px 0px #84eec1;
}

input[type="radio"] {
  display: none;
}

.radio-modelo label {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-bottom: 1.5em;
}

.custom-radio {
  border: 1px solid #154580;
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.custom-radio,
span {
  transition: 0.5s ease;
  color: #154580;
}

.custom-radio span {
  content: "";
  width: 18px;
  height: 18px;
  background: transparent;
  border-radius: 50%;
}

input[type="radio"]:checked + .custom-radio {
  border-color: #154580;
}

input[type="radio"]:checked + .custom-radio span {
  background: #154580;
}

.button-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.button {
  margin: 5px;
  margin-top: 10px;
  width: 140px;
}

@media (min-width: 500px) {
  .add-thinking {
    form {
      padding: 2rem;
    }
  }

  .button {
    margin-top: 20px;
    width: 200px;
  }
}
