@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.ff-inter { font-family: 'Inter', sans-serif; }
.ff-roboto-mono { font-family: 'Roboto Mono', monospace; }

h1 {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h2 {
  color: #154580;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.button {
  background: #154580;
  color: #ffffff;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #154580;
  border-radius: 10px;
  transition: 0.5s ease;
}

.button:hover {
  border: 2px solid #84EEC1;
  color: #84EEC1;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
