@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ff-inter { font-family: 'Inter', sans-serif; }
.ff-roboto-mono { font-family: 'Roboto Mono', monospace; }

h2 {
  color: #154580;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.button {
  width: 250px;
  background: #154580;
  color: #ffffff;
  padding: 1em;
  border: none;
  border-radius: 5px;
  transition: 0.5s ease;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 0.02em;
}

.button:hover {
  cursor: pointer;
  color: #84EEC1;
  opacity: .9;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
