<section class="thinking {{ thinking.module }} ff-roboto-mono">
  <div class="container-info" (click)="seeThinking(thinking)"
    matTooltip="Clique no Pensamento para abrir em outra página." matTooltipPosition="above">
    <img src="/assets/images/{{ thinking.module }}.png" alt="Aspas coloridas">
    <div class="date">
      <small> {{ thinking.date | date: "dd/MM/yyyy 'às' HH:mm" }}</small>
      <em *ngIf="thinking.update">Atualizada</em>
    </div>
    <p class="autoria"><b>{{ thinking.author }}</b></p>
    <p class="description">{{ thinkingDescription }}</p>
  </div>
  <div class="button-actions">
    <button *ngIf="!thinking.favorite" class="favorite" (click)="toFavorite(thinking)">
      <img src="/assets/images/icone-favorito-inativo.png" alt="Ícone de não favorito">
    </button>
    <button  *ngIf="thinking.favorite" class="favorite" (click)="toDesfavorite(thinking)">
      <img src="/assets/images/icone-favorito-ativo.png" alt="Ícone de favorito">
    </button>
    <button  class="button-edit" (click)="editThinking(thinking)">
      <img src="/assets/images/icone-editar.png" alt="Ícone de editar">
    </button>
    <button class="button-delete" (click)="deleteThinking(thinking)">
      <img src="/assets/images/icone-excluir.png" alt="Ícone de excluir">
    </button>
  </div>
</section>

<!--button *ngIf="thinking.favorite" class="button-edit" (click)="toDesfavorite(thinking)">
  <img src="/assets/images/icone-favorito-ativo.png" alt="Ícone de favoritar">
</!--button-->
