.thinking {
  height: 250px;
  background-color: #f8f9fe;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-info{
  position: relative;
  cursor: pointer;

  .date{
    position: absolute;
    top: 2px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    em{
      width: 50%;
      font-size: .8em;
      margin-top: .3em;
      text-align: end;
    }
  }
}

.button-actions {
  display: flex;
  justify-content: flex-end;

  .button-delete {
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
  }

  .button-edit {
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
}


.thinking .description {
  margin: 1rem auto;
  word-wrap: break-word;
}

.thinking .autoria {
  word-wrap: break-word;
}

.modelo1 {
  box-shadow: 8px 8px 0px #154580;
}

.modelo2 {
  box-shadow: 8px 8px 0px #6bd1ff;
}

.modelo3 {
  box-shadow: 8px 8px 0px #84eec1;
}
