.container-geral{
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .home{
    min-height: 300px;
    background: url(/assets/images/background-completo.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
  }
}

