<section class="container">
  <header class="d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button (click)="addThinking()" class="button">Adicionar pensamento</button>
  </header>
  <div class="mural" *ngIf="(thinkingsList$ | async)?.length, else notThinkings">
    <div *ngFor="let thinking of (thinkingsList$ | async)">
      <app-thinking [thinking]="thinking"></app-thinking>
    </div>
  </div>
</section>
<ng-template #notThinkings>
  <div class="ff-inter not-thinkings">
    <h2 class="info">Ainda não há pensamentos cadastrados!</h2>
  </div>
</ng-template>
