<section class="container" *ngIf="(loading$ | async); else loading">
  <app-listagem-thinking-header (searchName)="filter($event)"
  (allFavorite)="allThinkingFavorite($event)" (allthinking)="allThinking($event)"></app-listagem-thinking-header>
  <div class="mural" *ngIf="(thinkingsList$ | async)?.length, else notThinkings">
    <div *ngFor="let thinking of (thinkingsList$ | async)">
      <app-thinking [thinking]="thinking"></app-thinking>
    </div>
  </div>
  <section class="container-button">
    <article>
      <button [class.disabled]="maxPage" class="button" (click)="loadingMore()">
        {{ maxPage ? 'Fim da lista' : 'Carregar mais...' }}
      </button>
      <button [class.disabled]="minPage" class="button" (click)="loadingLess()">
        {{ minPage ? 'Começo da lista' : 'Carregar menos...' }}
      </button>
    </article>
  </section>
</section>
<ng-template #notThinkings>
  <div class="ff-inter not-thinkings">
    <h2 class="info">
      {{ filterInput ? 'Nenhum resultado encontrado.' : 'Ainda não há pensamentos cadastrados!' }}
    </h2>
  </div>
</ng-template>

<ng-template #loading>
  <div class="loading">
    <mat-spinner></mat-spinner>
    <h2 class="ff-inter" style="margin-top: .5em;">Guarde. Buscando lista de Pensamento...</h2>
  </div>
</ng-template>
