.container {
  min-height: 52.3vh;
  padding: 1.5em 0.5em;
}

.mural {
  margin-top: 1.5em;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 30px 10px;
  justify-content: space-between;
}

.not-thinkings {
  height: 20vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .info {
    font-size: 1.2em;
  }
}

.loading {
  width: 98vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-button {
  display: flex;
  justify-content: center;
  margin: 4em 0px 0em;

  article {
    width: 310px;
    height: 50px;
    display: flex;
    justify-content: space-between;

    .button {
      width: 145px;
    }
  }
}

@media (min-width: 500px) {
  .container {
    padding: 1.5em 5em;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 1.5em 3em;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 1.5em 7em;
  }
}

.disabled {
  background-color: #bcbcbc;
  color: black;
}

.disabled, .disabled:hover {
 border: none;
 cursor: default;
 opacity: 1;
}
